name: 'test'

on:
  workflow_dispatch:
  push:

jobs:
  test:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
          version: 1.0

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri

      - uses: jongwooo/next-cache@v1
      - name: install frontend dependencies
        run: pnpm install

      - name: setup icons
        run: |
          mkdir -p public
          cp -r node_modules/material-icon-theme/icons public/

      - name: Install wasm-pack
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: run test
        run: |
          git config user.name "Alice"
          git config user.email "Alice@bob.com"
          git config user.signingkey "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
          git config commit.gpgsign true

          pnpm build-wasm
          bash -c 'cd src-tauri && cargo test'
          bash -c 'cd crates/filetype && cargo test'
          bash -c 'pnpm test'
